<footer class="bg-light text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3 bg-primary text-white">
      © 2022 Copyright:
      <label>Designed and Developed by Ayush Sharma</label>
    </div>
</footer>